<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IService">
                    <security defaultAlgorithmSuite="BasicGostObsolete" authenticationMode="MutualCertificate"
                        requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="false"
                        messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IService1">
                    <security defaultAlgorithmSuite="BasicGost" authenticationMode="MutualCertificate"
                        requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="false"
                        messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://rgs3.dev.armd.ru:8080/DataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
                contract="MessageQueue.IDataService" name="BasicHttpBinding_IDataService" />
            <endpoint address="http://10.127.36.28/CoordinateV6/Service.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IService"
                contract="CoordinateV6.IService" name="CustomBinding_IService" />
            <endpoint address="http://10.127.36.28/CoordinateV6/Service.svc/newGost"
                binding="customBinding" bindingConfiguration="CustomBinding_IService1"
                contract="CoordinateV6.IService" name="CustomBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>