<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://10.176.205.10:8080/IncomeRequestService</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://10.176.205.10/msdeployagentservice</MSDeployServiceURL>
    <DeployIisAppPath>WebServicesSite/IncomeRequestService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>taxomotor\Admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TaxoMotor.Database.ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=10.176.205.9;Initial Catalog=TM.Data;User ID=ir_service_user;Password=pass@word1" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WIN-SNU4U1N6VQ1;Initial Catalog=TM.Data;User ID=wcf_user1;Password=pass@word1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TaxoMotor.Database.ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=WIN-SNU4U1N6VQ1;Initial Catalog=TM.Data;User ID=wcf_user1;Password=pass@word1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TaxoMotor.Database.ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.176.205.9;Initial Catalog=TM.Data;User ID=ir_service_user;Password=pass@word1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>