<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TM.DatabaseModel.Properties.Settings.TM_DataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TM.Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>