<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseFactory.config" type="TM.Services.DatabaseFactorySectionHandler, TM.Services, Version=1.0.0.0, Culture=neutral, PulicKeyToken=null" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TM.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="TaxoMotor.Database.ConnectionString" connectionString="Data Source=10.176.205.9;Initial Catalog=TM.Data;User ID=ir_service_user;Password=pass@word1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="All" propagateActivity="false">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\log\Web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\log\Web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="DateTime, Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <client>
      <endpoint name="ASGUF" address="http://10.127.37.12/CoordinateV5/Service.svc" binding="customBinding" bindingConfiguration="customBindingCoordinateV4Obsolete" contract="TM.Services.CoordinateV5.ICoordinateV5Service" behaviorConfiguration="ASGUF">
        <identity>
          <dns value="ДТиРДТИ" />
        </identity>
      </endpoint>
    </client>
    <extensions>
      <bindingElementExtensions>
        <add name="RSmevActorMessageEncoding" type="Rkis.RSmev.RSmevActorMessageEncodingElement, Rkis.RSmev, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2b3b604558f3f5fa" />
      </bindingElementExtensions>
    </extensions>
    <diagnostics wmiProviderEnabled="true" performanceCounters="Off">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
     logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
     maxMessagesToLog="3000" maxSizeOfMessageToLog="20000000" />
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="customBindingCoordinateV4Obsolete">
          <security defaultAlgorithmSuite="BasicGostObsolete" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="false" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="false">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="23:00:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap />
          </security>
          <RSmevActorMessageEncoding>
            <readerQuotas maxDepth="32" maxStringContentLength="81920000" maxArrayLength="16384000" maxBytesPerRead="4096" maxNameTableCharCount="16384000" />
          </RSmevActorMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="5242880" maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
    realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="V4Cert" name="TM.Services.CoordinateV5.CoordinateV5Service">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBindingCoordinateV4Obsolete" bindingName="" bindingNamespace="http://asguf.mos.ru/rkis_gu/coordinate/v5/" contract="TM.Services.CoordinateV5.ICoordinateV5Service" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Rkis.Services/CoordinateV5/Service.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="V4Cert">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="1d e0 b2 59 56 38 94 8c 66 3e 2e a5 85 85 5e cb 9a 0f 6e 05" />
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ASGUF">
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="1d e0 b2 59 56 38 94 8c 66 3e 2e a5 85 85 5e cb 9a 0f 6e 05" />
            <serviceCertificate>
              <defaultCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="1d e0 b2 59 56 38 94 8c 66 3e 2e a5 85 85 5e cb 9a 0f 6e 05" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <databaseFactory.config Name="TM.Database" ConnectionStringName="TaxoMotor.Database.ConnectionString" />
  <applicationSettings>
    <TM.Services.Properties.Settings>
      <setting name="InputMessageQueueUrl" serializeAs="String">
        <value>http://77.95.132.133:8081/InputService/Service.svc</value>
      </setting>
    </TM.Services.Properties.Settings>
  </applicationSettings>
</configuration>
